@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Title = "About";
}
<br />

<div class="jumbotron" style="background-color: cornflowerblue!important;">
    <h2> </h2>
    <h3>Welcome to MyBreathingSpace</h3>
    <p style="color:white">For more information please contact <strong><a  style="color:white" href="mailto:jean@mybreathingspace.net">jean@mybreathingspace.net</a></strong><br /></p>
</div>