@model MyBreathingspace.Web.IndexViewModel


@{
    ViewBag.Title = "Home Page";
}

<header class="bg-primary text-white" style="min-height:100vh; background-image: url('../../Content/images/jetty.jpg');background-repeat:no-repeat;background-color:white;background-size: cover;background-attachment:fixed">
    <div class="container text-center">
        <div id="titleCanvas">
            <h1>Become gently aware of this, the present moment</h1>
            <p class="lead"></p>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Personal Introduction</h2>
                <p class="lead">
                    I was originally directed to Buddhist Meditation at the Chorlton-Cum-Hardy Buddhist Centre in Manchester by my general practitioner in 1984 who had diagnosed me with high blood pressure. It was concluded that as there was nothing physically wrong with me, it must be psychological and caused by stress. At the Buddhist Centre they taught me one technique that stuck with me, I now know that technique to be the Body Scan, but the Buddhists did not use names for their meditations; it was purely about the experience. Sadly, my interest in Buddhism was limited and I still do not have any idea what school of Buddhism the Buddhist monks belonged to. I only know that it was helpful for me. I used the Body Scan as a way of settling my mind before sleeping for many years. Along with regular exercise, my meditation improved my sleeping patterns. Other practices have interested me over the years; for example, the meditations used as part of Yoga.
                    I did not fully understand the true purpose of meditation until I began my current career as an Educational Psychologist. A colleague delivered an introductory session on mindful meditation to all the Educational Psychologists in Wiltshire. It was there that the penny dropped! The purpose is not to relax, although this is a very positive by-product, but rather to pay attention, to become aware, to engage in our world differently; through gentle and detailed exploration. Our exploration can be extended and create awareness not simply of ourselves and our environment, but also of others. A deeper understanding of each other can only lead to better communication where there is less misunderstanding and more gentle dialogue. This can only be positive in a world which sometimes feels like it is full of negative rhetoric.
                </p>
                <p class="lead">
                    Between February and March 2015 I attended the Eight Week Mindfulness Based Stress Reduction (MBSR) course. I will be eternally grateful to my tutor Katie Norton who provided me with an excellent example of how to approach and run the course. I sought to find ways to use what I had learnt in my work and a wonderful opportunity to introduce mindfulness into Wiltshire schools via the Mindfulness in Schools Project became available. I embarked upon the qualification to deliver the .b Mindfulness course for secondary age pupils. I had to experience and deliver the .b Mindfulness course prior to delivering it to pupils. This has been a fascinating project and I enjoy introducing mindfulness to young people and hope that even if they do not continue to practise it beyond their 10 week course they have a piece of potential personal support to explore later on should they wish to.
                </p>
                <p class="lead">
                    I am now working towards a mindfulness teaching qualification with the University of Bangor which allows me to deliver the Eight Week MBSR course to adults. As mindfulness is invariably about practice, I delivered some introductory sessions in Fovant Village Hall with some friends. My next stage of training is to run the formal Eight Week MBSR course.
                    Jack Kennedy has used Bowerchalke Village Hall to run Buddhist meditation for many years and I attend group mediation practice with Jack and the good people of Bowerchalke. Although western mindfulness practice is not part of Buddhism, Jack has been very supportive and has kindly offered his support by allowing me to use his meditation slot to deliver the Eight Week MBSR course. It will be interesting for participants to have discussions about the similarities and differences between Buddhist meditation and western mindfulness meditation.
                    Everybody is welcome to attend. As I am still training, there will be no formal cost. However, refreshments will be provided and the village hall has to be paid for, so a suggested contribution of £3.00 per week would be gratefully received.
                    If you have any questions about my background and/or qualifications please do not hesitate to contact me.
                </p>
                <p class="lead">
                    I look forward to experiencing mindfulness with you.
                </p>
                <p class="lead">
                    Jean Carnochan
                </p>
                <p class="lead">
                    5th November 2017
                    @*@Model.FootnoteDate.ToShortDateString():*@
                </p>
            </div>
        </div>
    </div>
</section>

<header class="bg-primary text-white" style="min-height:10vh; background-image: url('../../Content/images/chalke_valley.jpg');background-repeat:no-repeat;background-color:white;background-size: cover;background-attachment:fixed;padding-top:30px">
    <div class="container text-center">
        <!--<h1>The 8 Week Mindfulness Based Stress Reduction (MBSR) Course</h1>        -->
    </div>

</header>
<section id="course">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>The 8 Week Mindfulness Based Stress Reduction (MBSR) Course</h2>
                <ul>
                    <li>Weekly sessions from Tuesday 9th January – Tuesday 13th March 2018. (No sessions on 13th February 0r 27th February 2018)</li>
                    <li>The time of the sessions will be 6.00pm – 7.00pm at Bowerchalke Village Hall.</li>
                    <li>For more details see Mybreathingspace.net. Contact Jean on 07833 723822 or email <a href="mailto:jean@mybreathingspace.net" style="font-weight:bolder">jean@mybreathingspace.net</a>.</li>
                    <li>N.B. This course replaces Jack Kennedy’s Tuesday meditation sessions for the duration of the course, after which Jack’s sessions will resume.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead">
                    What does the 8 week Mindfulness Based Stress Reduction course involve?
                </p>
                <ul>
                    <li>Week 1 - What is Mindfulness?</li>
                    <li>Introduction to the body scan</li>
                    <li>The raisin exercise</li>
                    <li><a href="../mbsr/week1">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 2 - Simple Awareness</li>
                    <li>Seated meditation</li>
                    <li>Focusing on the breath</li>
                    <li><a href="../mbsr/week2">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 3 - Paying Attention</li>
                    <li>Mindful movement</li>
                    <li>The three minute breathing space</li>
                    <li><a href="../mbsr/week3">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 4 – Reacting and Responding</li>
                    <li>Forty minute sitting meditation</li>
                    <li>Turning towards the difficult</li>
                    <li><a href="../mbsr/week4">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 5 – Mindful Walking</li>
                    <!--
                    <li>Awareness and acceptance of our arising experience</li>
                    <li>Curiosity and kindness</li>
                        -->
                    <li><a href="../mbsr/week5">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 6 – Mindfulness of Thought</li>
                    <li>Seeing your thoughts for what they are</li>
                    <li>Listening and responding</li>
                    <li><a href="../mbsr/week6">Resources</a></li>
                </ul>
                <ul>
                    <li>Week 7 - Kindness and Compassion</li>
                    <li>Taking care of oneself</li>
                    <li>Loving kindness meditation</li>       
                    <li><a href="../mbsr/week7">Resources</a></li>             
                </ul>
                <ul>
                    <li>Week 8 – Maintaining and Developing Personal Practice</li>
                    <li>What works for you?</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact" style="background-image: url('../../Content/images/daffodils.jpg');    background-position: bottom;color:white;min-height: 100vh;background-size: cover;background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>For more information.... </h3>


                <p class="h5" style="border:solid;border-color:white;border-width:medium; border-radius:10px;padding:10px;text-align:center"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> <a href="mailto:jean@mybreathingspace.net" style="font-weight:bolder;color:white">jean<i class="fa fa-at fa-1x"></i>mybreathingspace.net</a></p>


            </div>
        </div>
    </div>
</section>
