
@{
    ViewBag.Title = "WeekFour";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 6</h1>

                <h2>Mindfulness of Thought</h2>

                <h3>Pleasant and unpleasant calendars revisited</h3>

                <p>
                    Consider your pleasant and unpleasant events calendars.  Focus on the physical sensations and emotions as they arrive as memories and then as they arise in the present moment.
                </p>

                <p>

                    What pleasant and unpleasant moments were experienced a part of the practice over the last few weeks?
                </p>

                <p>
                    Do we want things to be a certain way (attachment) and reject other sensations / emotions (aversion)?


                    Given that nothing stays the same and we may not be able to hold onto the emotions we wish for and cannot always avoid crisis situations. Mindfulness offers us middle ground; to not want anything and appreciate that there are many moments that we can appreciate regardless of any ensuing crisis or experience of pain.

                    Over the centuries we have developed unhelpful ways of dealing with emotional and physical pain. We block or deny the discomfort or pain by forcing ourselves to push through it trooper style, or we use distraction techniques, or we may eat too much or drink too much or even worse.  These techniques are often unsatisfactory as when you stop pushing through or wake up in the cold light of day after any form of self-medication the pain remains and may even feel as though it has been reinforced.

                    Alternatively, we feel like we drown in the overwhelming experience involving ourselves in fearful thoughts and judgements such as ‘I can’t cope with this!’ ‘This is only going to get worse’. ‘How could I have been so stupid?!’ In this situation a sense of hopelessness and powerlessness begins to dominate.

                    There is a space in between where we are neither pushing away the difficult feelings or being overwhelmed by them.  Learning to be with and accept the sensations or emotions.  It surprises people to find that over time and with practise the ‘I’ve got to get away from …’ thought patterns lessen along with the feelings discomfort.  This is not to deny that some people experience living with pain on a daily basis, but mindfulness offers a different, more helpful way of relating to it.

                    More generally, we can think of this as not attempting to push away the difficult experiences, and striving for the pleasant ones to remain. Life does not happen without moments of difficulty or pain.  The aim is to seek a balance where we accept that both the pleasant and unpleasant are part of life and we can shift from one to the other as we move though each moment of our day.

                </p>

                
                <h3>Staying in the here and now</h3>

                <p>
                    Remember to use your body to as a way staying in the present; we take the daily movements of our body for granted. What is your posture like as you read this and what sensations do you notice in your body? When you stand feel the movement of standing, pay attention to the detail of your movements. As you reach, pick something up, turn around, and become aware of the small movements. When you walk and when lie down in bed tonight, slow down a little, what do you notice? Keep practising until it becomes second nature to be aware of all the small movements you make. There is nothing extra you have to do, just be in the moment with your body and notice.
                </p>


                <h3>Thoughts are not facts</h3>

                <p>
                    Our thoughts are powerful, they impact upon our emotions and our behaviour, but can we trust them to tell us the truth?  Our thoughts are often automatic and involve associated images in our mind.  By becoming aware of our thoughts as mental events that come and go through the mind, we begin to realise that they are not facts or reality and that we are not our thoughts.   For example, you have a thought about what you are going to do next with your day, but you do not recognise it as a thought, you consider it to be truth or fact.  For example, ‘I must shop for food today because I won’t have time during the week’.  Another thought comes along, ‘those hedges desperately need cutting’ and ‘I can’t possibly arrive at work in that dirty car tomorrow’.  More thoughts about tasks that ‘need to be done today’ may also come to mind.  The examples here are about home life, but the work place also provides good examples, ‘If I do not complete this piece of work by the end of today my manager with think I am incompetent’.    By viewing these thoughts as ‘truth’ or ‘facts’ means that we get caught up in beliefs about what we ‘must’ or ‘should’ do.  When we do not match up to our thoughts; for example, when there are not enough hours in the day to complete all the tasks we have set ourselves, we may experience feelings of inadequacy or tension and negative self-judging thoughts.  Recognising thoughts as just thoughts frees us; we obtain a degree of clarity that we do not otherwise achieve.  We are more able mange our daily life; for example, by prioritising tasks and recognise that some tasks take us longer to complete.  We may be more able to recognise when it is time to leave a task until another time and provide time to rest without self-judgement.  We often find ourselves on a train of association, somewhere on our journey we recognise that we have been thinking, but often we are not fully aware of the associations that have led us to the place we now are.  People are often heard to say ‘I don’t know what started me thinking about this, but…’  Our mood may have shifted as a result of our thoughts.
                    Our thoughts and images provide us with an indication of what is happening more deeply in our mind. If we were to take hold of them and gently explore them, look over them from differing perspectives to find out more about them we are also likely to find that we have a number of thoughts that have a habit of cropping up again, and again.  The liberation comes from meditation where we can spend time observing the breath, the body and the activity of the minds thoughts and associated emotions. As we let them go of our thoughts and return to the breath and we can give ourselves space to distance ourselves form our thoughts and achieve a different perspective. By practising meditation we can cultivate mindfulness and calmness. By recognising our thoughts as passing mental states we choose to give our thoughts less power over us and instead strengthen our ability to concentrate and be calm.  When a thought arises during meditation we can recognise it as a thought, observe its content and the accuracy of it, then allow it to pass and come back to the breath we strengthen our capacity to experience mindfulness. We come to have a deeper more accepting awareness of ourselves, not as we think we should be, but as we are. We do not deny, fight or make judgements about our thoughts; we can simply choose not to follow them, be carried away by them or become embroiled in them.

                </p>
              
                <p>
                    The invitation is take a moment to look at the thoughts as they arise in your mind.   You might want to close your eyes and visualise them on a cloud or on a cinema screen.  What are they? What happens to them?  We may watch and then all of a sudden get lost in them. What are these thoughts that we get so involved in? It is interesting to consider how much power we give to unwanted thoughts. Remembering, planning, obsessing, and judging. When we observe them we recognise them as images and words passing through our mind, and we can choose if what to do with them. We may want to act on a thought and doing so may have all kinds of consequences.  By seeing thoughts clearly, as they are, we provide space to choose which ones to act on and which ones to simply let alone.

                </p>

                <h2>Informal Practice</h2>
                <p>
                    As part of your home practice this week the invitation is to consider what your stressors are. Who and what pushes your buttons during your interpersonal communications. The invitation is to practise being with and exploring your positive and more challenging daily communications. Write your experiences down on your Week 6 Informal practice log.

                    Consider if the skills you have been developing support you to cultivate the capacity to be more flexible and to recover more rapidly during challenging communications with others. Allow what you have learnt within the session to become part of the communications you are engaged in; for example, giving a conversation all of your attention, listening to the voice tones, and fully observe the gestures being delivered to you and those you return. Investigate it as it is happening. Are you instinctively reacting or responding mindfully to the interaction? Are you attempting to push it away or striving towards it? Inquiry during your daily interactions allows a deeper awareness of patterns of thoughts and behaviours. Our interactions with others represent externalisations of internal mind and body states and our understanding of them may allow us to create more effective interactions during our everyday lives.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 6 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week6/Week 6 General Practice log.docx">Week 6 General Practice Log</a>
                    </li>
                    <li>
                        <a href="~/Assets/msbr/week6/Self Reflection.docx">Self Reflection</a>
                    </li>
                    <li>
                        <a href="~/Assets/msbr/week6/Informal Practice Log.docx">Week 6 Informal Practice Log</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Turning Toward Difficulty - Vidyamala Burch</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8aAATYSvNjc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <br />
            </div>
            <div class="col-lg-8 mx-auto">
                <h2>Mindfulness Meditation (Part 2 of 2) Acceptance of Thoughts and Feelings - Professor Brutus</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jn3D_Biilqc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <br />
            </div>
            <div class="col-lg-8 mx-auto">
                <h2>Mountain Meditation - Jean Carnochan</h2>
                <h3>(Please allow time to load)</h3>
                <video controls="controls">
                    <source src="~/Content/video/Mountain%20Meditation_x264.mp4" type="video/mp4" />
                </video>             
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/MyBreathingSpace.js"></script>