
@{
    ViewBag.Title = "WeekTwo";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}

<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 2</h1>

                <h2>Simple Awareness</h2>

                <p>
                    In Week 1 be began to explore simple awareness, the idea that our thoughts and mind are somewhere else and we are working on automatic pilot. A good example of this is often driving. We often drive known and familiar routes to work or to a family member’s house. We can drive for miles along these routes without conscious awareness. In the same way we may live much of our lives elsewhere and not in the present moment. Automatic pilot may be useful at times, but it can mean that we miss the detail of good experiences and even exaggerate the negative ones. When we are on automatic pilot we may have an experience that triggers; thoughts, feelings and sensations that we automatically react to without full awareness. These automatic reactions may be the same pathway we took in the past when we experienced a similar situation; previous paths taken may or may not be helpful.
                </p>
                <p>
                    By becoming more aware of our thoughts, feelings and body sensations in each moment, we give ourselves a new possibility of freedom and choice. We do not have to go down the same well-trodden mental route or rut. We can increase our awareness so that we can respond with choice rather than automatically reacting. We do so by practising awareness of where our attention is and practise changing the focus of our attention over and over again.
                </p>
                <p>

                    The body scan provides an opportunity to practice bringing an interested and gentle awareness to the way things are without any expectation of change. There is no goal other than to bring awareness to bear.
                </p>
                <p>

                </p>

                <h2>Focusing on the breath</h2>

                <p>
                    This week, Week 2, we will focus on the breath. Breath is life. If we weren’t breathing we would be dead. The breath is constantly with us each and every moment of our lives. It moves though our bodies like waves gently lapping on a beach. Each and every breath is an individual and is not necessarily the same as the last. The breath is also a reflection of our mood, short and shallow implies we are angry, faster when we experience excitement, slow and full when we feel contentment and almost non-existent when we experience fear.
                </p>
                <p>

                    We spend very little time during our everyday life paying any attention to it, it is just there. In mindfulness it is helpful for the breath to be viewed as an anchor, to bring stability to the body and the mind simply by choosing to become aware and tune into it. As we do so we notice more about how it changes with mood, thought and body movement.
                </p>
                <p>

                    The invitation is not to control the breath, or make it deeper, but to get to know it like an old, forgotten friend. Observe, watch, and feel the breath with a sense of gentle interest and in a friendly, relaxed manner.
                </p>
            </div>
        </div>
    </div>
</section>



<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 2 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week2/Week 2 Practice log.docx">Week 2 Practice Log</a></li>
                    <li>
                        <a href="~/Assets/msbr/week2/Week 2 Sitting meditation.docx">Week 2 Sitting Meditation</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>John Kabat-Zinn - Guided Mindfulness Meditation</h2>

                <audio controls="controls">
                    <source src="~/Content/mp3/Jon%20Kabat-Zinn,%20PhD%20-%20Guided%20Mindfulness%20Meditation,%20Series%202%20(Audio%20Excerpt)--5uaDoOCMb4.mp3" type="audio/mpeg" />
                </audio>

                <br />       
                <br />               
                <h2>John Kabat-Zinn - Breathscape and Bodyscape</h2>

                <audio controls="controls">
                    <source src="~/Content/mp3/Jon%20Kabat%20Zinn%20Breathscape%20And%20Bodyscape%20guided%20meditation,%20mindfulness%2020%20minutes%20[BEGINNER]-NbXUAg5tA0s.mp3" type="audio/mpeg" />
                </audio>
                <br />
                <br />

                <h2>John Kabat-Zinn - Life is Right Now</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w-XMH6xi8v4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


