
@{
    ViewBag.Title = "WeekFour";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 7</h1>

                <h2>Kindness and Compassion – Nourishing and Depleting Activities</h2>

                <p> How we spend our time can have a direct impact upon the levels of stress we experience. We are often involved in activities that ‘must’ be done at the expense of those that we see as optional extras. For example, work based activities that overlap into our personal time are often seen as more important than keeping up the exercise programme we resolved to do from the 1st January! We may think that the activities we engage in will provide us with nourishment in the longer term, for example, by working harder we may progress our career and/or gain a better level of pay. If we are in a caring role, we may perceive that supporting others is so important that we do so at the expense of looking after ourselves. Striving and demanding too much from ourselves is not living mindfully and can lead to exhaustion, joylessness or physical and/or mental ill health. This is not to say that we abandon our ambitions or aim to become less altruistic in our endeavors, but if we are to achieve our aims and truly care for others we also need to take care of ourselves.</p>
               

                
                <p>We can begin to explore our sense of self compassion by investigating the activities we engage in and discovering if they are nourishing or depleting. Nourishing activities increase your sense of being alive and in the present rather than merely existing.</p>
                <p>
                    <strong>People -</strong> We all have a variety of people in our lives, some of them nourishing, some of them depleting. Let us think about who we are spending our time with.
                    <ul>
                        <li>Make a list of the top 10 people you spend most of your time, list them in order.</li>
                        <li>Next to that person’s name, rank them on a scale of 1-10 with 10 being nourishing ad 1 being depleting.</li>
                    </ul>
                
                </p>

                <p>
                <strong>Activities –</strong> Every day we engage in a multitude of activities, some nourishing, some depleting.

                    <ul>
                        <li>Make a list of all the activities you go through during the day. Be specific: waking up, eating breakfast, getting dressed, walking to the car, driving, walking into work, sitting at my computer, etc.</li>
                        <li>Next to each activity, put an “N” for nourishing or a “D” for depleting next to it.</li>
                    </ul>
              

                 </p>

                <p>
                    Look at these lists and see if there are any ways to spend more of your attention on the ‘N’s’ than the ‘D’s.’ If your mind tells you, ‘this is just the way my life is,’ allow that thought to come and go and really look at this again.

                    We may love the people who we find depleting, and those we find depleting may find nourishment in the interactions we have with them. Sometimes, we have no choice but to engage with people or activities that are depleting. This is not about abandoning others or necessary activities, but perhaps we could consciously decide to spend more time with people and activities we find nourishing and therefore strike a balance. We know how to treat ourselves better; for example, we know that exercise, eating fresh food and spending time with friends is nourishing. Do you need to raise the importance of nourishing activities in your mind and deliberately spend more time doing them? Moreover, we may wish to consider ways we might relate to people we find challenging or relate differently to activities to make them less depleting?

                    Consider for a moment who and/or what situations might ‘push your buttons’?
                </p>

                <h2>The Wise Action Breathing Space</h2>
                
                <p>
                    The three step breathing space allows us to deal with the unpleasant feelings as they arise. It does not always seem enough to breath into it, be with it and let it be. There are times when it feels more appropriate to take wise action.
                </p>
                
                <p>
                    <strong>Step One -</strong> Notice your interactions with others or when engaging in a depleting activity. Pay attention to your bodily sensations, thoughts, and emotions, such as anger or irritation.
                </p>
                <p>
                    <strong>Step Two-</strong> Gather these sensations, thoughts and emotions and focus on your breath. Feel your body expand as you breathe in and contract as you exhale. While focusing on your breath, silently (or out loud if you are alone) repeat to yourself words such as calm, centred, harmony, peace, compassion, kindness and ‘surrender’ until you feel a shift in your emotions.
                </p>
                <p>
                    <strong>Step Three-</strong> As you reconnect with an expanding awareness in the breathing space, it may feel appropriate to take some considered action. Consider how to gently respond with compassion and kindness to the person who has irritated you or engage in the challenging activity with a mindset of full attention and achieve a sense of mastery within it. Ask yourself, ‘What do I need for myself right now?’ ‘How can I best take care of myself?’ You may decide to take wise action and do something pleasurable and nourishing to add balance to the day’s negative experiences.
                </p>

                <p>
                    Be aware that preoccupation with worries about the past or the future will rob the nourishing activities of their value. When you chose to focus on a nourishing activity, fully focus on it and if your mind wanders, as best you can, bring it back to focusing on the nourishing activity.

                    It may be helpful to apply a brief mindfulness strategy when engaging in those everyday irritating activities; for example, being put on hold on the telephone, could be used as an opportunity to practise the three step breathing space or just check in mindfully ‘how are you doing?’ Red traffic lights could be a reminder to focus on the breath.

                    If any judgments arise such as, “I’ve tried everything, nothing works” as best as you can, see that as just another thought, a mental event asserting itself in the moment that will eventually pass, then with fresh eyes, begin again.

                    Additionally, take notice of giving oneself extra high standards; for example, I should be doing such and such, better, faster, more easily etc. ‘It should be different,’ thinking can induce feelings that nothing worthwhile has been achieved. Recognise these critical thoughts as passing mental events and let them be.
                </p>

                <h2> Loving Kindness Meditation</h2>
               
                <p>
                    Loving Kindness Meditation is a helpful way dealing with a difficult person. Rather than spending your mental energy disliking this person we may use of Loving Kindness Meditation to wish them well. You may question why you would want to, but this practice is not only for them, but also for you. You may find it transforms your interactions with them. Plus, if by your attitude towards them they feel at ease, they may not be so difficult to communicate with. We will revisit Loving Kindness Mediation in the final session.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 7 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week7/Week 7 General Practice log.docx">Week 7 General Practice Log</a>
                   </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Dacher Keltner on the Evolutionary Roots of Compassion</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3qrShIMtYJU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/MyBreathingSpace.js"></script>