
@{
    ViewBag.Title = "WeekFour";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 5</h1>

                <h2>Mindful Walking</h2>

                <p>
                    1. Find a place where you can walk up and down, a private space is probably best if you are concerned about other people seeing you. It can be inside or outside and the length of your ‘walk’ may vary, but is usually around 7 to 10 paces.
                </p>
                <p>
                    2. Stand at your starting point with your feet hip width apart and parallel to each other with your knees in a soft position so that you can gently flex the knees. Gently move from side to side and forwards and backwards to gain a sense of your central position. Allow your arms to loosely drop by your side and mindfully sway them backward and forwards for a moment or two to release any tension in the arms and shoulders. Direct your gaze straight ahead check that your head is gently and evenly balanced on your shoulder by imagining a line from your spine coming up through the neck and out of the crown of the head.
                </p>
                <p>
                    3. Bring the focus of awareness to the bottoms of your feet, getting a direct sense of the physical sensations of the contact of the feet with the floor. Also feel the detail weight of our body as gravity pulls it down through your legs and feet. Gently flex the knees again if it helps you to experience the sensations in the legs and the feet. Remember to keep your knees soft.
                </p>

                <p>
                    4. When you are ready, move very slightly to one side, transferring the weight of your body into the right leg, the move should be slow enough to allow you to notice the changing pattern of physical sensation in the legs and feet as the left leg ‘empties’ and the right leg takes over the support of the rest of the body.
                </p>
                <p>
                    5. Raise the left heel to rise slowly from the floor, noticing the sensations in the calf and other leg muscles and continue to ‘peel’ your left foot off the floor gently until only the toes of your left foot are in contact with the floor. Be aware of the sensations in the legs and feet and as you lift the left leg with gentle care notice the sensations as it moves forwards through the air. Gently place the heel down first allowing the rest of the bottom of your foot to follow as you transfer the weight of the body into the left leg and foot.
                </p>

                <p>
                    6. With the weight fully transferred to the left leg, repeat the process as you slowly peel the right foot heel first from the floor, feeling a sense of emptying the right leg and the weight increasing in the left, allow the rest of the right foot to lift and move slowly forward. Focus the attention on the changing physical sensations in the legs and feet with each movement.
                </p>

                <p>
                    7. Noticing the contact as the heel touches the ground and the shifting patterns of both legs and feet as the weight shifts from one leg to the other.
                </p>

                <p>
                    8. Continue your walk in this way and then stop for a few moments and turn slowly around, notice the complex pattern of movements required to allow the body to change direction before beginning your walking practice again.
                </p>

                <p>
                    9. When you notice that your mind has wandered away from the awareness of the sensations in the feet and legs, and of the contact with the floor, gently, with kindness and without judgement, bring the attention back to the sensations in the feet and legs. You use the breath in sitting meditation to create an ‘anchor’ to come back to. When engaging in mindful walking you use the sensations of the feet as they make contact with the floor as your ‘anchor’ to reconnect with the present moment.
                </p>

                <p>
                    10 It may also help to stop for a moment when your mind has wandered, gathering your thoughts, emotions and sensations in the body, breathing into the body sensations that are running alongside any thoughts and emotions, becoming aware once more of the whole body standing and then returning your focus of attention to the movement of walking.
                </p>

                <p>
                    11 The pace of this initial walking practice is initially slow to allow you to become fully aware of the detail of the movement of walking. Once you feel you walk slowly with awareness, you can experiment with walking a little faster and eventually at normal walking speed, allowing you to bring mindful walking into your daily life. If you are feeling agitated, it might be helpful to begin walking fast, with awareness and then slow it down naturally as you settle down.
                </p>

                <p>
                    For Week 5 home practice the invitation is to practise slow, mindful walking for 10 to 15 minutes or longer if you wish.
                </p>

                
            </div>
        </div>
    </div>
</section>



<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 5 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week5/Week 5 General Practice log.docx">Week 5 General Practice Log</a>
                    </li>
                    <li>
                        <a href="~/Assets/msbr/week5/Week 5 Mindful Walking.docx">Week 5 Mindful Walking</a>                     
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">              
                <h2>Mindful Walking - Thich Nhat Hahn</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_IFvablc6EI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/MyBreathingSpace.js"></script>

