
@{
    ViewBag.Title = "WeekThree";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 3</h1>

                <h2>Pay Attention!</h2>

                <p>
                    We have begun to explore attending to our body or our breathing as a focus of our meditation. We often find that our attention is like a young puppy; it wanders around in all directions and finds it difficult to sit still and settle down. Anybody who has had a puppy will tell you that the best way to train your puppy effectively is with kindness and with gentle, but firm repetitive training. Mindful meditation is about allowing things (including your wandering thoughts and distracting experiences of sensations) to be exactly as they are. When your mind wanders and you notice it, you are already back in the moment, so there is no need to berate yourself, or cast judgment, rather you may congratulate yourself that you have noticed and are directing yourself back to the focus of your meditation. It is human nature to find faults and find ways to fix or problem solve. This is probably one of the reasons we have thrived as a species, but this common mental pathway also means that we find it challenging when we ask the mind and body to settle into things just as they are, with a sense of acceptance, even for a moment. If we cast judgement upon ourselves; for example, ‘I should be able to focus more fully on my breath by now, I have been practising this for weeks!’ what we are actually are doing is cultivating a mental pathway of intolerance, impatience and a judgemental attitude towards ourselves rather than one of gentle curiosity, openness, trust, acceptance and kindness.

                </p>

                <h2>Being and Sensing</h2>

                <p>
                    John Kabat Zinn (2005) said that ‘Meditation is a way of being, not a technique’ and ‘Meditation is not relaxation spelled differently’. There are, of course, techniques that we use in meditation and meditation is often accompanied by states of relaxation and feelings of wellbeing, but mindfulness meditation embraces and accepts all mind states that we experience as part of our mediative awareness. Pain or upsetting emotions, boredom, impatience, frustration or tension in the body are all equally valid objects of our attention if they fall in to our awareness in the present moment. Each mind state is an opportunity for insight and learning, and potentially, for liberation, rather than signs that our meditation practice is not "succeeding" because we are not fully focusing on the breath or feeling relaxed.
                </p>
                <p>

                    Meditation is a way of being or sensing in any and every moment. Mindful meditation is not about switching off our thoughts, it is not about attaching ourselves to thoughts we like and getting rid of those we do not care for. Neither is about willing yourself to be peaceful or relaxed. It is a gentle and effortless gesture of heart and mind (seen as one whole) toward a deeper awareness of the present moment just as it is, accepting whatever is happening simply because it is already there. If we are creating conditions of awareness, any state of mind is a meditative state. Anger or sadness can be as valuable to observe as enjoyment or happiness. All mind states and body states become areas to observe, and to investigate. Each and every part of our experience in the here and now are occasions to know ourselves better. It is sometimes challenging to comprehend that nothing else needs to happen; we can stop trying to make something special occur. Something special is already happening; life is happening right here, right now.
                </p>
                <p>

                    Moreover, meditation is not about trying to get anywhere else, often called ‘striving’. If we meditate to effect change; for example, to improve our lives or the lives of others we are unlikely to experience the nourishment of meditation, the aim is not to get anywhere but here, accepting where you are and what you experience right now.
                </p>
                <p>

                    The invitation in Week 3 will be to being to explore, investigate and describe what we experience when we meditate.
                </p>

                <p>
                    <img src="/Assets/msbr/week3/ThreeMinuteBreathingSpace.png" style="width: 100%;max-width: 100%;min-width: 100%;">
                </p>

                <h2>Moving Mindfully</h2>

                <p>
                    Building on the experience of the body scan, moving mindfully allows us to experience another way to bring our awareness to our body experience and sensations. The movements provide a different way to connect with awareness of the body. The body is a place where we often hold and express emotions without being fully aware that they are there. So becoming aware of our bodies may allow us to become more aware of what we are feeling and thinking. We often have a sense of striving when we move our bodies, especially when engaging in class based exercises, but the aim of mindful movement is not to get fit, or to do any of the movements perfectly, it is to notice, observe and explore our experience with gentle kindness and to learn new ways of caring for ourselves. When practicing moving mindfully we need to work within and accept our physical limitations.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 3 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week3/Week 3 General Practice log.docx">Week 3 General Practice Log</a>
                    </li>
                    <li>
                        <a href="~/Assets/msbr/week3/Week 3 Pleasant Experiences Calendar.docx">Week 3 Pleasant Experiences Calendar</a>
                    </li>
                    <li>
                        <a href="~/Assets/msbr/week3/Week3minutemindfulmovementPracticelog.docx">Week 3 Minute Mindful Movement Practicelog</a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">              
                <h2>Ten Mindful Movements - Thich Nhat Hahn</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4mz-dJFkmrk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>



<script src="~/Scripts/MyBreathingSpace.js"></script>