
@{
    ViewBag.Title = "WeekFour";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 4</h1>

                <h2>Reacting and Responding</h2>

                <p>
                    Automatic reactions are very important; our ‘fight, flight and freeze’ mechanism has allowed humans to deal with many life threatening situations over the centuries. For example, in times past we may have come across a sabretooth tiger whilst out hunting. This external experience triggered a reaction of alarm and set off a stress reaction. The mind and body instantly went into a state of hyperarousal; muscles became tense, strong emotions were experienced, chemicals in the brain and body were released and blood was directed away from the digestive system and towards the muscles. The state hyperarousal allowed humans to think and act quickly; it potentially saved lives! You might think that by not living in such hostile environments we rarely experience this reactive response, but the automatic reactions to stress are a well-trodden unconscious path, and can be triggered without our awareness. The difficulties we face as modern western humans have changed and often relate to our psychological experiences; social interactions and relationships or social status, but our stress response system continues to react in the same instinctive way. It seems that it is sufficient to feel threatened even if the threat is not ‘real’. It is no longer socially acceptable to ‘fight, run or freeze’ exacerbating the stress we feel and making simple problems seem worse. By attempting to ‘wall off’ the stress we hold it inside. The internalisation of the stress reaction process potentially increases our risk of illness.
                </p>

                <p>
                    Mindfulness provides us with a choice, we can carry on instinctively reacting to the stresses we experience and treat our negative experiences and situations as perceived threats, thereby giving them greater emphasis and potential ‘control’ or we can use mindfulness to begin to become more aware of them, examine them and relate to them more lightly. How we handle stressful experiences depends on how we relate to them.
                </p>

                <p>
                    Reactions to more up-to-date events might be described in the three following ways:
                </p>

                <p>
                    Indifference; for example, generated out of boredom may result in ‘switching off’ from the present moment; we feel indifferent to our experience.
                </p>
                <p>
                    Attachment; for example, we may want to hold onto the experience of right now or wish we were having an experience from our past or strive to have a similar experience in the future.
                </p>

                <p>
                    Aversion; for example, we may want our current experience to go away, we may feel angry towards it and avoid situations that may result in a similar experience in the future.
                </p>


                <p>
                    Each of these ways of reacting can create problems, but for now the main focus is to become more aware of our experience, so that we can respond mindfully rather than reacting automatically. Regularly practising sitting meditation provides us many opportunities to notice when we have drifted from the awareness of the present moment. At which point we observe with curiosity where our attention has been and then gently, but firmly bring it back to the focus of the meditation and reconnect with the moment by moment awareness.
                </p>
                <p>
                    At other times of the day, whenever you notice unpleasant emotions or sensations of tightening or holding of tension in the body, use the three step breathing space as an opportunity to respond
                    rather than react. Alternatively you might want to try the STOP method to gently guide you back to the focus of your meditation.
                </p>

                <p>
                    <img src="~/Assets/msbr/week4/STOP.png" style="width: 100%;max-width: 100%;min-width: 100%;" />
                </p>

                <h2>Staying in the here and now</h2>

                <p>
                    Remember to use your body to as a way staying in the present; we take the daily movements of our body for granted. What is your posture like as you read this and what sensations do you notice in your body? When you stand feel the movement of standing, pay attention to the detail of your movements. As you reach, pick something up, turn around, and become aware of the small movements. When you walk and when lie down in bed tonight, slow down a little, what do you notice? Keep practising until it becomes second nature to be aware of all the small movements you make. There is nothing extra you have to do, just be in the moment with your body and notice.
                </p>


                <h2>Turning towards the difficult</h2>

                <p>
                    The easiest way to deal with difficulties that arise is to stop trying to make things different. Allow the experience to happen. Simply notice and observe the thought, the body sensation and the emotion; cultivate a ‘willingness to experience’. This allows us to relate differently to experiences that have a strong pull on our attention, however, powerful they may seem. When we see them clearly we don’t get pulled into trying to supress or avoid them. We begin the process of freeing ourselves from them.
                </p>

                <p>
                    With a kindness and gentle attitude we deliberately turn towards any painful experiences. If the mind is frequently drawn away from the focus of our meditation to a painful thought, emotion or body sensation become aware of whatever it is that is pulling the attention away. Firstly, we gently explore the bodily sensations that occur alongside the thought or emotion; we then deliberately move the focus of our awareness to that part of the body where the sensation is strongest. We use the breath as a vehicle to do this, taking a friendly awareness to that part of the body by using the mind’s eye to breath into it and breathing out of it.
                </p>

                <p>
                    Notice how we are relating to the thought, emotion or body sensation. Are we reacting or mindfully responding to what is arising? If we react we may increase the persistence. We may be with an arising thought, feeling, or body sensation, but we are not allowing it to be there, we may want to be rid of it, creating tension in the muscles and feelings of irritation or fear. By acknowledging it, allowing it to exist and breathing into where we feel it in our bodies, we give the message to ourselves that it is okay to be open to whatever it is that is causing the pain or upset. It is okay to feel threatened, fearful, angry or hurt and to feel the tension in your body in these moments. In moments of awareness you can recognise these agitations for what they are, thoughts, feelings and sensations in the body. Allowing is not about resigning ourselves to it, but rather it is a first step to allowing us to become more fully aware of the difficulty and responding to it more skilfully. It allows us to find space to move away from the ‘fight or flight’ stress reaction. Our relationship with stress is lighter and less damaging.
                </p>

                <p>
                    <img src="~/Assets/msbr/week4/ViktorFrankl.png" style="width: 100%;max-width: 100%;min-width: 100%;" />
                </p>

            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 4 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="~/Assets/msbr/week4/Week 4 General Practice log.docx">Week 4 General Practice Log</a>

                    </li>
                    
                    <li>
                      
<a href="~/Assets/msbr/week4/Week 4 Unpleasant Experiences Calendar.docx">Week 4 Unpleasant Experiences Calendar</a>
                    </li>
                        
                    <li>
                        <a href="~/Assets/msbr/week4/Week4minutemindfulmovementPracticelog.docx">Week 4 Breathing Space and Mindful Movement Practice Log</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Jon Kabat Zinn - Mindfulness Guided Meditation (Sitting Meditation) The Power of Now</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/P8zs8tJlkZM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/MyBreathingSpace.js"></script>