
@{
    ViewBag.Title = "WeekOne";
    Layout = "~/Views/Shared/_Layout_msbr.cshtml";
}
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">       
            </div>
        </div>
    </div>
</section>

<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 1</h1>

                <p>
                    Welcome to the Eight Week Mindfulness-Based Stress Reduction (MBSR) Course.
                    The following  contains information and exercises to support you through the course.  Things often become clearer the more we practice.
                    The practice documents are for you to make personal notes about your experiences and you are invited to do so as part of the course as it allows you to consider your journey over the eight weeks.   Be as honest as you can. The notes you make are not to be shared (unless you wish to), they are for you to explore and reflect.
                    You may experience some deeper emotions during your practice, if this happens it is quite natural and nothing to be afraid of.   We can discuss these in class or on a one to one before or after the session.  If you wish to discuss anything that is connected to mindfulness practice between sessions then you can contact me by email or we can arrange a time to talk.
                    I look forward to exploring mindfulness with you and hope that you find this a rewarding and therapeutic experience. It may even become a way of living.
                   <br />
                     Warmest wishes,
                    <br />
                    Jean
                    <br />
                    <br />
                    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><a href="mailto:jean@mybreathingspace.net" style="font-weight:bolder"> jean@mybreathingspace.net</a> 
                    <br />
                    <br />
                    <i class="fa fa-mobile fa-3x" aria-hidden="true"></i> <a href="tel:07833723822">07833 723822</a>               
                     
                </p>

            </div>
        </div>
    </div>
</section>

<section id="what-is-mindfulness">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
               <h2>What is mindfulness?</h2>
               <p>
                  
                   <i>‘Mindfulness is the awareness that emerges through paying attention on purpose, in the present moment, and non-judgementally, to things as they are’.</i>  (Williams, Teasdale, Segal, and Kabat-Zinn 2007).
                   <br />
                   <br />
                   <i>Mindfulness is about being fully awake in our lives. It is about perceiving the exquisite vividness of each moment’.</i>   ( Jon Kabat-Zinn 2007)
                   <br />
                   <br />
                   We have all experienced mindfulness; for example, when we are focused on something we enjoy such as sewing, playing a sport we love or a walk on a beautiful summer day. It is when time seems to have no meaning and you are fully and completely engaged in the present moment. These conditions make us feel fully alive and whole, but at times of difficulty and external pressures we fail to find this more helpful state of mind. Instead, many of us harm ourselves by the way we think about the challenges we face.  We spend time and energy worrying about what might happen in the future or ruminating over things that have happened in the past.  Mindfulness offers a solution by gently encouraging us to live more often in the present moment. Mindfulness practice does not invalidate our worries or concerns, but rather it allows us to take a break from them. During the MBSR course we will also consider how to explore our difficulties as they emerge in the present moment, accept them and begin to think about how we might deal with them differently.
                   <br />
                   </p>
                <p>
                   
                   <strong>Is Mindfulness just a fad?</strong>
                   <br />

                   It is doubtful that mindfulness will disappear anytime soon.  Mindfulness has been made fun of; for example, in the adult Ladybird books, but in fact it has a huge evidence base.  The research into Mindfulness Based Cognitive Therapy (MBCT) has found it to be effective in reducing the reoccurrence of depression (Williams et al 2013; Crane et al 2014).  The strong indicators of research has resulted in it being recommended by the National Institute for Clinical Excellence (NICE, 2013) for adults who have experienced three or more episodes of depression.  Mindfulness is used and recommended by medical professionals in the National Health Service (NHS).
                   In the late 1990’s the research into the effectiveness of the Mindful Based Stress Reduction (MBSR) course began to increase.  It has been shown to alleviate distress in those experiencing depression and anxiety. Those involved in the MBSR courses have reported being more able to cope with and manage stress.  (Biegel et al 2009; Beal et al 2012).
                   <br />
                    </p>
                <p>

                    <strong>Is Mindfulness Buddhism?</strong>
                    <br />
                   Mindfulness has its foundations in Buddhism, but the MBSR is a western secular course. It simply teaches meditation designed to allow us to become more aware of ourselves as human beings.  It does not teach Buddhism and people from all faiths and cultures are welcome.
                   </p>
                <p>

                    
                    <strong> What will an MBSR course do for me?</strong>
                    <br />
                   The MBSR course here at Bowerchalke Village Hall is not therapy and is not designed to cure mental illness and should not be used as a substitute for medical treatment.   It aims to be preventative and is likely to have therapeutic benefit for those experiencing stress, every day aches and pains, migraines, and other ailments.  Participants on MBSR courses have reported feeling more alive, and more "in-tune" with themselves and others.
                   Through this MBSR course, you will learn skills that may increase your ability to:
                    <ul>
                        <li>Cope with stress, pain, and the challenges of everyday life</li>
                        <li>Deal with difficult events with grace and composure</li>
                        <li>Be fully present and alive in this moment</li>
                    </ul>
                   </p>
                <p>
                    <strong>Will I have homework?</strong>
                    <br />
                   Mindfulness is like any other learning experience; unless it is practised on a regular basis it is unlikely to be beneficial.  Homework will be provided, but can be adapted to suit each person’s individual’s lifestyle.  The homework is designed to be enjoyable.

                   
               </p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 1 Practice Documents</h2>
                <ul>
                    <li><a href="~/Assets/msbr/week1/Week 1 practice log.docx">Practice Log</a></li>
                    <li><a href="~/Assets/msbr/week1/Week 1 practice body scan.docx">Practice Body Scan</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="bodyscan">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>John Kabat-Zinn Body Scan</h2>
                <audio controls="controls">
                    <source src="~/Content/mp3/Body%20Scan%20Meditation%20-%20Jon%20Kabat-Zinn.mp3" type="audio/mpeg" />
                </audio>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>

